@model  HandsOnMVCUsingModels.ViewModels.ProjectEmployee
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Index1</title>
</head>
<body>
	<h1>Employee Project Details</h1>
	<pre>
    Employee Name:@Model.EmployeeName
    Designation:@Model.Designation
    ProjectName:@Model.ProjectName
</pre>
</body>
</html>
