
@{
    Layout = null;
}

<!DOCTYPE html>
@* Html,CSS,Bootstrap,Html5,Javascript,Jquery *@
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Greet</title>
</head>
<body>
   <h2 style="color:maroon">Welcome @ViewData["uname"]</h2>
</body>
</html>
