
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Welcome to MVC APP</h1>
    <h2>Today's Date: @System.DateTime.Now</h2>
</body>
</html>
