@model Student
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Create</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <form action="Add" method="post">
            <table class="table" style="width:auto">
                <tr>
                    <td>ID</td>
					<td>
						@*<input type="number" name="Sid" />*@
						<input type="number" asp-for="Sid" />
					</td>
                </tr>
                <tr>
                    <td>Name</td>
					<td>
						@*<input type="text" name="Sname" />*@
						<input type="text" asp-for="Sname"/>
					</td>
                </tr>
                <tr>
                    <td>Age</td>
					<td>
						@*<input type="number" name="Age" min="4" max="16" />*@
						<input type="number" asp-for="Age" min="4" max="16" />
					</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" value="Add" class="btn btn-primary" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>
