@* binding student model to te details view*@
@model Student
@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Details</title>
</head>
<body>
	@{
		if (Model != null)
		{
			<h2>Student Details</h2>
			<pre>
ID:@Model.Sid
Name:@Model.Sname
Age:@Model.Age
</pre>
	<a asp-action="index">back</a>
		}
		else
		{
			<h2>Invlid Student ID</h2>
		}
	}


</body>
</html>
